<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Mùa đông không lạnh</h1>
    <table border = "1px">
        <thead>
            <th>STT</th>
            <th>Name</th>
            <th>Yob</th>
            <th>Gender</th>
            <th>Status</th>
            <th>height</th>

            <!-- <th></th>
            <th></th> -->
        </thead>
        <tbody>
            {% for s in all_service %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>s.name</td>
                <td>s.dob</td>
                <td>s.gender</td>
                <td>s.phone_number</td>
                <td>s.address</td>
                <td>{% if s.status == True %}
                    Busy
                    {}
                </td>
                <!-- <td>7</td> -->
            </tr>
            {% endfor %}
        </tbody>
       







    </table>
</body>
</html>